@page "/Admin/Product/Edit/{id:int?}"
@model VEGEFOODS.Pages.Admin.Product.EditModel
@{
    Layout = "/Pages/Admin/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit";
}
<style>
    img {
        width: 50%;
        height: 80%;
    }
</style>

<div class="card w-100">
    <div class="card-header">
        <div class="d-sm-flex d-block align-items-center justify-content-between">
            <div class="mb-sm-0">
                <h3 class="card-title fw-semibold">Sản phẩm: <small class="text-muted">@(Model.Id.HasValue ? "Chỉnh sửa" : "Thêm mới")</small></h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label asp-for="@(Model.Product!.Name)" for="txtname" class="col-sm-2 col-form-label">Tên sản phẩm</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="@(Model.Product!.Name)" />
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="@(Model.Product!.CAT_ID)" for="txtname" class="col-sm-2 col-form-label">Danh mục</label>
                <div class="col-sm-10">
                    <select class="form-select" asp-for="@(Model.Product!.CAT_ID)">
                        @foreach (var item in Model.Categories)
                        {
                           <option value="@item.CAT_ID">@item.Name</option> 
                        }
                    </select>                  
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="@(Model.Product!.Intro)" for="txtname" class="col-sm-2 col-form-label">Giới thiệu</label>
                <div class="col-sm-10">
                    <textarea rows="2" maxlength="255" class="form-control" asp-for="@(Model.Product!.Intro)"></textarea>              
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="@(Model.Product!.Price)" for="txtname" class="col-sm-2 col-form-label">Giá</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="@(Model.Product!.Price)" />
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="@(Model.Product!.DiscountPrice)" for="txtname" class="col-sm-2 col-form-label">Giá giảm</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="@(Model.Product!.DiscountPrice)" />
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="@(Model.Product!.Unit)" for="txtname" class="col-sm-2 col-form-label">Đơn vị</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="@(Model.Product!.Unit)" />
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="@(Model.Avatar)" for="txtname" class="col-sm-2 col-form-label">Hình sản phẩm</label>
                <div class="col-sm-10">
                    <input type="file" accept="image/*" class="form-control" asp-for="@(Model.Avatar)" />
                </div>
            </div>
            @if (!String.IsNullOrEmpty(Model.Product?.Avatar))
            {
                <div class="row mb-3">
                    <div class="offset-sm-2 col-sm">
                        <img src="~/Data/Products/@Model.Product?.Avatar" alt="" class="img-pluid"/>
                    </div>
                </div>
            }
           

            <div class="row mb-3">
                <label asp-for="@(Model.Product!.Description)" for="txtname" class="col-sm-2 col-form-label">Miêu tả</label>
                <div class="col-sm-10">
                    <textarea rows="3" maxlength="255" class="form-control" asp-for="@(Model.Product!.Description)"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="@(Model.Product!.Details)" for="txtname" class="col-sm-2 col-form-label">Chi tiết</label>
                <div class="col-sm-10">
                    <textarea rows="4" id="Product_Details" maxlength="255" class="form-control" asp-for="@(Model.Product!.Details)"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm offset-sm-2">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#Product_Details'))
            .catch(error => {
                console.error(error);
            });
    </script>
    }
